<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#!/">Home</a>
            </li>
            <li class="active">Manter Pedido</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <form action="" method="post" class="form-inline" role="form">
            <div class="form-group col-xs-12">
                <label class="sr-only" for="">label</label>
                <input type="text" class="form-control" name="" id="" ng-model="buscaPedido" placeholder="Buscar Pedido">
            </div>
        </form>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a href="#!/novopedido" class="btn btn-default">Novo</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Numero</th>
                <th>Emissão</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>22/3</td>
                <td>23232</td>
                <td>excluir</td>
            </tr>
            <tr>
                <td>2</td>
                <td>33/2</td>
                <td>12312</td>
                <td>excluir</td>
            </tr>
            <tr>
                <td>3</td>
                <td>221/1</td>
                <td>213123</td>
                <td>exlcuir</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>