<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ol class="breadcrumb">
        <li>
            <a href="#!/">Home</a>
        </li>
        <li class="active">Manter Produto</li>
    </ol>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <form action="" method="post" class="form-inline" role="form">
        <div class="form-group col-md-12">
            <label class="sr-only" for="">label</label>
            <input type="email" class="form-control" name="" id="" placeholder="Buscar Produto">
        </div>
    </form>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="#!/novoproduto" class="btn btn-default">Novo</a>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in produtos">
            <td>{{p.codigo}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.preco}}</td>
            <td>
                <span style="cursor:pointer;" class="glyphicon glyphicon-remove" ng-click="deletar(p.codigo)"></span>
                <span style="cursor:pointer;" class="glyphicon glyphicon-edit" ng-click="editar(p)"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
