<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#!/">Home</a>
            </li>
            <li class="active">Manter Pedido</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <form action="" method="post" class="form-inline" role="form">
            <div class="form-group col-xs-12">
                <label class="sr-only" for="">label</label>
                <input type="text" class="form-control" name="" id="" ng-model="buscaPedido" placeholder="Buscar Pedido">
            </div>
        </form>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a href="#!/novopedido" class="btn btn-default">Novo</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Numero</th>
                <th>Emissão</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pedido in pedidos | filter : buscaPedido">
                <td>{{pedido.codigo}}</td>
                <td>{{pedido.emissao}}</td>
                <td>{{pedido.total}}</td>
                <td>
                    <span style="cursor: pointer;" ng-click="deletar(pedido.codigo)" class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>